.mainpage {
    background-color: #d9ebf7;
    margin: 0 auto;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
}
.expertise-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.expertise-block {
    text-align: center;
    border: 2px solid #000; /* Lijnen toevoegen om expertiseblokken */
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.expertise-block img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.main-content {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.about-us-section {
    
    margin-top: 40px;
    text-align: center;
}

.about-us-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-us-section p {
    font-size: 16px;
    line-height: 1.5;
}
