/* registerpage.css */
.register-container {
    max-width: 400px;
    margin: auto;
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.register-button {
    background-color: #21CEA1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
