.user-settings-container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    border: 3px black;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
}

.user-settings-container form {
    display: flex;
    flex-direction: column;
}

.user-settings-container label {
    margin-bottom: 8px;
}

.user-settings-container input {
    padding: 8px;
    margin-bottom: 5px;
}
.user-settings-container button {
    background-color: #21CEA1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.user-settings-container select {
    padding: 8px;
    margin-bottom: 5px;
}

.user-settings-container button:hover {
    background-color: #1CA883;
}
.btnopslaan {
    background-color: #2B50EC;
}
.user-settings-container button[type="button"] {
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}