.user-portal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters label {
    flex: 0 0 calc(25% - 10px);
    margin-bottom: 10px;
}

.users-list {
    overflow-y: scroll;
    height: calc(100vh - 40px);
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.users-list li {
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 0 10px 15px 0;
}

.users-list li strong {
    font-size: 1.125rem;
}

.users-list li p {
    margin: 8px 0;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .filters label {
        flex: 0 0 calc(50% - 10px); 
    }

    .users-list li {
        flex: 0 0 calc(50% - 10px);
    }
}

@media screen and (max-width: 414px) {
    .filters label {
        flex: 0 0 100%; 
    }

    .users-list li {
        flex: 0 0 calc(50% - 10px);
    }
}
